<div class="container-fluid d-flex flex-column justify-content-center">
  <h3 class="text-center mt-4">Book Finder</h3>
  <div class="searchInput mt-3 d-flex justify-content-center">
    <div class="input-group mb-3 d-flex justify-content-center">
      <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
      <input [(ngModel)]="searchInput" (change)="search()" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" maxlength="60" placeholder='Use "Enter" to search'>
    </div>
  </div>
  <div *ngIf="loading" class="lds-ripple"><div></div><div></div></div>
  <div *ngIf="searchResult" class="bookList d-flex flex-row justify-content-center flex-wrap">
    <div *ngFor="let book of searchResult.items" class="bookItem">
      <div class="row">
        <div class="bookItemHeader">
          <a [href]="book.volumeInfo.infoLink">{{book.volumeInfo.title}}</a>
        </div>
        <div class="col-5">
          <img [src]="book.volumeInfo.imageLinks.thumbnail" alt="BookImage">
        </div>
        <div class="col-7">
          <p>Author: <span>{{book.volumeInfo.authors}}</span></p>
          <p>Published: <span>{{book.volumeInfo.publishedDate}}</span></p>
          <p>Publisher: <span>{{book.volumeInfo.publisher}}</span></p>
          <p>Description: <span class="description">{{book.volumeInfo.description}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>